* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

ul {
    list-style-type: none ;
}



    .fa-arrow-left {
        font-size: xx-large;
        font-weight: 700;
        padding-left: 25px;
        font-size: 150%;
    }

    .logo {
        font-family: 'Shrikhand', sans-serif;
        font-size: xx-large;
        padding-left: 55px;
    }

    .btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }    


    .explore {
        height: 60px;
        width: 270px;
        color: white;
        background: linear-gradient(70deg, #FF79DA, #9356DC); 
        border-radius: 40px;
        border: none;
        box-shadow: 5px 5px 5px #c6c4c4;
        font-size: large;
        margin-bottom: 4%;
    
    }

    .coeur {
        position: relative;

    }
    .coeur_vide {
        position: absolute;
        transition: opacity 1s;
    }

    .coeur_plein {
        position: absolute;
        opacity: 0;
        transition: opacity 1s;
    }

    .coeur:hover .coeur_vide {
        opacity: 0;


    }
    .coeur:hover .coeur_plein {
        opacity: 1;

    }
    
    footer {
        background-color: rgb(59, 58, 58) ;
        color: white;
        padding-bottom: 30px;
        
    }
    .menu_footer {
        font-family: 'Roboto', sans-serif;
        font-size: 105%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        line-height: 33px;
        margin-left: 20px;
       
    }
    .rappel_logo {
        font-family: 'Shrikhand', sans-serif;
        margin-top: 15%;
        margin-left: 20px;
        margin-bottom: 10px;
        padding-top: 21px;
        padding-bottom: 21px;
        font-size: 125%;
    }
    
    .lien_footer {
        color: white;
        text-decoration: none;
        
        
    }


