* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

ul {
    list-style-type: none;
}

.flèche {
    margin-left: 5%;
    padding-right: 20%;
    text-decoration: none;
    


}
.lien_accueil {
    color: black;
    text-decoration: none;

}
.fa-arrow-left {
    
    display: flex;
    justify-content: flex-start;
    font-size: xx-large;
    font-weight: 700;
    font-size: 150%;
    margin-left: 3%;
    text-decoration: none;

}

.lien_accueil:link {
    text-decoration: none;

}

.logo {
    font-family: 'Shrikhand', sans-serif;
    font-size: xx-large;

    display: flex;
    justify-content: center;

}

.photo_présentation {
    z-index: 0;

}



.photo_présentation img {
    width: 100%;



}

.carte {
    background-color: #f7F7F7;
    border-radius: 40px 40px 0 0;
    padding-top: 20px;

    padding-bottom: 15%;
    margin-top: -40px;
    width: 100%;
    z-index: 10;


}


main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.en-tête {
    font-family: 'Shrikhand', sans-serif;
    display: flex;
    justify-content: space-around;
    font-size: 90%;
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    max-width: 80%;
}

h1 {
    font-weight: 500;
}


.coeur {
    position: relative;
    font-size: 190%;
    padding-top: 4px;
    cursor: pointer;

}

.coeur_vide {
    position: absolute;
    transition: opacity 1s;
}

.coeur_plein {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.coeur:hover .coeur_vide {
    opacity: 0;


}

.coeur:hover .coeur_plein {
    opacity: 1;

}

.partie-soulignée {
    border-bottom: solid 3px #99E2D0;
    padding-bottom: 4px;
}

.catégories {
    font-size: large;
    color: rgba(0, 0, 0, 0.565);
    margin-bottom: 2%;
    margin-left: 7%;
    margin-top: 6%;

}

.liste_plats {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.835);
}

.affichage_plat {
    display: inline-flex;
    max-width: 100%;
    flex-direction: row;

    align-items: center;

    margin-right: 15px;
  
    cursor: pointer;
    
    animation-name: animation_déroulé;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    
}

.animationDelay1 {
    animation-delay: .3s;
}

.animationDelay2 {
    animation-delay: .6s;
}

.animationDelay3 {
    animation-delay: .9s;
}

.animationDelay4 {
    animation-delay: 1.2s;
}

.animationDelay5 {
    animation-delay: 1.5s;
}

.animationDelay6 {
    animation-delay: 1.8s;
}


.animationDelay7 {
    animation-delay: 2.1s;
}


.animationDelay8 {
    animation-delay: 2.4s;
}


.animationDelay9 {
    animation-delay: 2.7s;
}

@keyframes animation_déroulé {
    0% {
        margin-top: 50px;
        opacity: 0;
    }

    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.affichage_plat:hover {
    transform: skewx(1800deg) translatex(0px);
    transform-origin: bottom left;
}

.affichage_plat:hover .carré_vert {
    visibility: visible;
    width: 20%;
    box-shadow: 0px 6px 6px #e0e0e0;
    transition: 1s;
}

.affichage_plat:hover .plat {
    border-radius: 15px 0 0 15px;
}


.plat {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3%;
    width: 99%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 6px 6px #e0e0e0;
    height: 50px;
}

.trois_points {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-Word;
    overflow: hidden;
    font-size: 14px;
}

.texte {
    display: flex;
    flex-direction: column;
   

}

.prix {
    display: flex;
    padding-top: 25px;
}

.carré_vert {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
 
    width: 0px;
    height: 74px;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
    transition: 2s;

    

}

.carré_vert:hover {
    transition: 2s;
}

.affichage_plat:hover .carré_vert .fa-circle-check {
    transform: rotate(-360deg);
    transition-duration: 0.6s;
    animation-delay: 1s;
  }

@keyframes checkRotation {

    0% {
        transform: rotate(20deg);
        animation-delay: 2s;
    }

    50% {
        transform: rotate(180deg);
        animation-duration: 2s;

    }

    100% {
        transform: rotate(360deg);
        animation-delay: 2s;
    }

}

.nom_plat,
.prix {
    font-weight: 500;
}

.nom_plat {
    font-size: large;
    padding-bottom: 4px;
    flex-wrap: wrap;
}

.fa-circle-check {
    background-color: #99E2D0;
    color: white;
    object-fit: cover;
}




.btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.explore {
    height: 60px;
    width: 270px;
    color: white;
    background: linear-gradient(70deg, #FF79DA, #9356DC);
    border-radius: 40px;
    border: none;
    box-shadow: 5px 5px 5px #c6c4c4;
    font-size: large;
    margin-bottom: 4%;
}


footer {
    background-color: #353535;
    color: white;
    padding-bottom: 30px;
    bottom: 1px;

}

.menu_footer {
    font-family: 'Roboto', sans-serif;
    font-size: 105%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 33px;
    margin-left: 20px;

}

.rappel_logo {
    font-family: 'Shrikhand', sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 125%;
}

.lien_footer {
    color: white;
    text-decoration: none;


}




@media (min-width: 625px) {
    .carte {
        padding-bottom: 5%;
    }

    .explore {
        margin-top: 4%;
    }
}


@media (min-width: 1000px) {
    .menus {
        display: flex;
        justify-content: space-around; 
        
    }
    .ordre {
        width: 360px;
        
    }

 
    .explore {
        margin-top: 60px;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}

@media (min-width: 1367px) {

}




@media (prefers-reduced-motion: reduce) {
    .animation {
        animation: none;
    }
}

